@model WebSite_FormValidacao.Models.QuestionarioModel
@{
    ViewBag.Title = "Questionário";
}

<h2>Orçamento de Projeto</h2>

<p>Precisando de um projeto de software? Temos a solução por um preço justo!</p>
<br />

@Html.ActionLink("Solicite um orçamento grátis!", "Questionario");