@model WebSite_FormValidacao.Models.QuestionarioModel
@{
    ViewBag.Title = "Obrigado";
}

<h2>Orçamento de Projetos</h2>

<br />
Agradecemos a sua solicitação de orçamento
<p>Entraremos em contato o mais breve possível!</p>

